body {
    background: #dddddd;
    font-size: 20px;
}
.containers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-auto-rows: minmax(200px, auto);
  gap: 50px;
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  margin-right: 50px;
  margin-left: 50px;
}
.container {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}
.container img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 20px;
}
.container button {
    margin-bottom: 40px;
    background-color: #ff4f4f;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}
.container button a {
    color: white;
    text-decoration: none;
}
.container button:hover {
    opacity: 0.8;
}
.headerpage {
    font-size: 25px;
    color: #3b4045;
    padding-left: 25px;
    font-weight: lighter;
}
.info {
    font-size: 22px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
    font-weight: bold;
}