body {
  background: #ddfffd;
  font-size: 20px;
}
.headerpage {
  font-size: 25px;
  color: #3b4045;
  padding-left: 25px;
  font-weight: lighter;
}
.headerpage p {
  font-size: 15px;
  color: #3b4045;
  padding-left: 5px;
  font-weight: bold;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.menu-content {
  display: none;
}
.menu-content.active {
  display: block;
  flex-direction: column;
}
.containers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-auto-rows: minmax(200px, auto);
  gap: 50px; 
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  margin-right: 30px;
  margin-left: 30px;
}
.hcontainer {
  display: flex;
  flex-direction: column;
}
.sources {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  background-color: #ffffff;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
ul {
  list-style: none;
  border-style: solid;
  background-color: #fefefe;
}
li {
  margin: 10px 0;
}
li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333;
}
li a:hover {
  background-color: #eee;
}
table {
  border-collapse: collapse;
  width: 75%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}
th {
  background-color: lightgrey;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}